# Thư viện
node_modules/

# File build/cache của Expo
.expo/

# Biến môi trường
.env
.env.local
.env.*.local

# File hệ thống macOS
.DS_Store

# Log files (tuỳ chọn thêm)
npm-debug.log*
yarn-debug.log*
yarn-error.log*